.node-landing-page-form .field--name-title, .node-landing-page-edit-form .field--name-title,
.node-details-page-form .field--name-title, .node-details-page-edit-form .field--name-title,
.media-form .field--name-field-file-html, .media-form .field--name-field-html-body {
  display: none;
}
.callout {
    background: #f2f2f2;
    border: 2px solid #CCC;
    color: #000;
    max-width: 26rem;
    padding: 1em;
}