.node-landing-page-form .field--name-title, .node-landing-page-edit-form .field--name-title,
.node-details-page-form .field--name-title, .node-details-page-edit-form .field--name-title,
.media-form .field--name-field-file-html, .media-form .field--name-field-html-body,
.filter-wrapper {
  display: none;
}
#group-bottom-elements .field--type-boolean {
  display: inline-block;
  margin-right: 40px;
}
.view-ec-notifications .form-actions {
  display: inline-block;
  margin-top: 2.4em;
}
.ec-entry-switch-form .option {
  font-weight: bold;
}
.ec-entry-switch-form #edit-count .button {
  position: relative;
  top: -26px;
}
.ec-entry-switch-form #edit-count .form-type-number, .ec-entry-switch-form #edit-times .form-type-time, .ec-entry-switch-form #edit-urls .form-type-url {
  display: inline-block;
  margin-right: 20px;
}
.ec-entry-switch-form #edit-times .form-type-checkbox {
  display: inline-block;
}
.ec-entry-switch-form .status {
  font-weight: bold;
}
.ec-entry-switch-form .status.red {
  color: red;
}
.ec-entry-switch-form .status.green {
  color: green;
}
#edit-services, caption {
  font-weight: bold;
}
.paragraph-type--case-info-item .field--widget-string-textfield {
  display: inline-block;
}