.path-node #anything-wrong-wrapper {
  margin-bottom: 10px;
}
.js .path-node .webform-submission-form, .path-node #anything-wrong-close, .path-node .form-item-page-url {
  display: none;
}
.ie8.path-node .webform-submission-form {
  display: none;
}