.callout {
  border-left: 5px solid #999;
  color: #666;
  font-size: 1.45em;
  margin: 1em 0 2em;
  max-width: 30em;
  padding: 0.25em 20px;
}
.phone-callout {
  background: #008C95;
  color: #fff;
  max-width: 20em;
  padding: 1em 4em 1em 1em;
  position: relative;
  text-align: center;
}
.phone-callout::after {
  content: "";
  background-image: url(/themes/custom/acas/dist/images/icons/icon-telephone.png);
  background-repeat: no-repeat;
  background-size: 1.5em auto;
  background-position: 50% 50%;
  height: 100%;
  position: absolute;
  right: .5em;
  top: 0;
  width: 3em;
}
.btn-cta {
  color: #fff;
  background: #007C85;
  padding: .75em;
  margin: 1em 0;
  text-align: center;
  text-decoration: none;
  width: fit-content;
  cursor: pointer;
}
table {
  margin: 1em 0 2em;
}
table p {
  margin-bottom: 0;
}
table thead {
  background: #007C85;
  color: #fff;
  font-family: "Open Sans Bold";
  text-align: left;
}
table td, table th {
  border: 2px solid #fff;
  padding: 0.5em 1em;
}
table td {
  background: #F7F7F7;
}
h2, h3, h4 {
  color: #008C95;
  font-family: "Century Gothic Bold"
}
h2 {
  font-size: 1.36em;
  line-height: 1.25;
  padding-left: 20px;
  position: relative;
}
h2::before {
  content: "";
  background: #CEDC00;
  display: block;
  width: 5px;
  height: 92%;
  position: absolute;
  left: 0;
  top: 8%;
}
h3, h4 {
  font-size: 1em;
  margin-top: 20px;
  margin-bottom: 20px;
}
h3::before {
  display: none;
}
