.content-moderation-entity-moderation-form {
  position: relative;
}
.content-moderation-entity-moderation-form #close {
  position: absolute;
  top: 5px;
  right: 10px;
  font-weight: bold;
  cursor: pointer;
}