.print-download-email #guide_print_download_overlay {
  position: fixed;;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 10;
  background-color: rgba(0,0,0,0.5);
}
.print-download-email .modal {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 580px;
  height: 450px;
  margin-left: -290px;
  margin-top: -225px;
  background-color: #FFF;
  z-index: 10;
}
.print-download-email .modal .title-wrapper {
  clear: both;
  padding: 20px;
}
.print-download-email .modal .title-wrapper .title {
  float: left;
}
.print-download-email .modal .title-wrapper .close {
  float: right;
  cursor: pointer;
}