a {
  color: $acas-teal-dark;
  text-decoration: underline;
  &:hover, &:focus {
    color: $acas-teal-light;
    text-decoration: none;
  }
}

/* External Links */
a {
  &.link--external {
    &:not(.btn-cta--email) {
      &:after {
        content: "";
        background-image: url(../images/icons/icon-link-external.png);
        background-repeat: no-repeat;
        background-position: 50% 50%;
        background-size: 100% auto;
        display: inline-block;
        height: .75em;
        margin: 0 .35em;
        position: relative;
        width: .75em;
      }
    }
  }
  &.share {
    &.link--external {
      &:after {
        display: none;
      }
    }
  }
}
