article {
  &.home-page {
    @extend .col-xs-12, .col-sm-9, .col-md-7, .col-lg-6;
    h2 {
      @extend h1;
    }
  }
  &.page {
    @extend .col-xs-12;
    @extend .col-sm-9;
    @extend .col-md-8;
    @extend .col-lg-7;
  }
  &.landing-page {
    @extend .col-xs-12;
  }
  &.support-page {
    @extend .col-xs-12;
    @extend .col-md-7;
  }
  &.secondary-page, &.details-page {
    @extend .col-xs-12;
    @extend .col-md-7;
    &.search-index {
      @extend .col-md-9;
    }
  }
}

#block-404footer {
  @extend .col-xs-12;
  @extend .col-md-7;
}

#block-homepageblock, #block-block-landingpagesblock {
  clear: left;
  overflow: auto;
  margin-bottom: 55px;
  article {
    @extend .col-xs-12;
    @extend .col-sm-6;
    @extend .col-md-3;
  }
}

#header-front-page {
  #block-exposedformsolr-search-contentpage-1 {
    .form-type-search-api-autocomplete {
      width: 100%;
      .input-group {
        width: 100%;
      }
      .input-group-addon {
        width: 40px;
      }
    }
    .form-type-search {
      display: none !important;
      margin-top: 20px;
      display: inline-block;
      width: 72%;
      @media #{$tablet} {
        width: 80%;
      }
      input {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        width: 100%;
      }
    }
    #edit-actions {
      display: inline-block;
    }
  }
  #block-views-block-google-analytics-summary-block-1 {
    overflow: auto;
  }
}
.content-moderation-entity-moderation-form {
  width: 115%;
  .entity-moderation-form {
    margin-left: 0;
    li {
      margin-right: 1em;
    }
  }
  #edit-submit {
    position: relative;
    top: -19px;
  }
  ul {
    background: $gray-light;
  }
}
.node-preview-container {
  padding: 20px;
  background: $gray-light;
  .form-type-select {
    float: right;
  }
}
