* {
  box-sizing: border-box;
}

html {
  font-size: 19px;
}

body {
  font-family: $font-family;
  font-weight: $font-weight-body;
  font-size: 19px;
  font-style: normal;
  line-height: 1.5;
}

img {
  max-width: 100%;
}

a {
  color: $acas-teal;
}

p {
  margin-bottom: 1.5em;
}

.details-page {
  ul {
    list-style-type: disc;
    margin-left: 1.5em;
  }
}

.sr-only {
  display: none;
}

.clearfix {
  &::after {
    content: "";
    clear: both;
    display: table;
  }
}
