$acas-lime: #CEDC00;
$acas-lime-dark: #8e9e23;

$acas-teal: #008C95;
$acas-teal-light: #34AFBE;
$acas-teal-dark: #007C85;

$black: #000;
$white: #fff;
$red: #df3034;
$green: #28a745;

$gray-light: #F7F7F7;
$gray-medium-light: #cacaca;
$gray: #CCC;
$gray-medium: #999;
$gray-dark: #666;

$link-color: $acas-teal;
