$compile-IE: false;

// Default variables.
@import 'colors';
@import 'variables';

// Reset Stylesheet
@import 'reset';

// Mixin Stylesheet
@import 'mixins';

// Bootstrap Framework.
@import '../bootstrap/assets/stylesheets/bootstrap';

/* Base Styles */
@import 'base';

// Admin (Drupal) styles
@import 'drupal/admin';

/* Base Components */
@import 'global/all';

/* Common Components */
@import 'common/all';

/* Structures */
@import 'structures/all';

/* Print styles */
@import 'print';

/* Form styles */
@import 'common/form';

/* Alerts */
@import 'global/alerts';
@import 'global/close';
