.btn-cta {
  background: $acas-teal-dark;
  color: $white;
  display: block;
  padding: .75em;
  margin: 1em 0;
  text-align: center;
  text-decoration: none;
  width: fit-content;
  &:hover, &:focus {
    color: $white;
  }
}

.btn-cta--helpline {
  min-width: 100%;
  padding: 1.25em 4em 1.25em 1.25em;
  position: relative;
  text-align: left;
  text-decoration: underline;
  p {
    margin-bottom: 0;
  }
  a {
    color: $white;
  }
  &:after {
    content: "";
    background-image: url(../images/icons/icon-telephone.png);
    background-repeat: no-repeat;
    background-size: 1.5em auto;
    background-position: 50% 50%;
    height: 100%;
    position: absolute;
    right: .5em;
    top: 0;
    width: 3em;
  }
}

.btn-standard {
  background: $white;
  color: $acas-teal-dark;
  display: block;
  font-weight: $font-weight-body;
  padding: .75em;
  margin: 1em 0;
  text-align: center;
  text-decoration: underline;
  width: fit-content;
  &:hover, &:focus {
    color: darken($acas-teal, 20%);
  }
}

.btn-panel {
  border: 3px solid $acas-teal;
  border-radius: 10px;
  float: left;
  margin-top: 1em;
  min-height: 14em;
  padding: 1em;
  width: 100%;
  .icon {
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: 100% auto;
    height: 6em;
    margin: .5em auto 1.5em;
    width: 4em;
  }
}
