.btn-cta {
  background: $acas-teal;
  color: $white;
  display: block;
  padding: .75em;
  margin: 1em 0;
  text-align: center;
  text-decoration: none;
  width: fit-content;
  &:hover, &:focus {
    @extend .outline;
    color: $white;
  }
}

.btn-standard {
  background: $white;
  color: $acas-teal;
  display: block;
  font-weight: $font-weight-body;
  padding: .75em;
  margin: 1em 0;
  text-align: center;
  text-decoration: underline;
  width: fit-content;
  &:hover, &:focus {
    color: darken($acas-teal, 20%);
  }
}

.btn-cta--helpline {
  min-width: 100%;
  padding: 1.25em 4em 1.25em 1.25em;
  position: relative;
  text-align: left;
  text-decoration: underline;
  p {
    margin-bottom: 0;
  }
  &:after {
    content: "";
    background-image: url(../images/icons/icon-telephone.svg);
    background-repeat: no-repeat;
    background-size: 1.5em auto;
    background-position: 50% 50%;
    height: 100%;
    position: absolute;
    right: .5em;
    top: 0;
    width: 3em;
  }
}

.print-download-email {
  border: 2px solid $acas-teal;
  border-spacing: 1em 0;
  margin: 1em 0;
  overflow: auto;
  text-align: center;
  width: 100%;
}

.btn-cta--print,
.btn-cta--download,
.btn-cta--email {
  @extend .btn-standard;
  padding: 0 2.5rem 0 0;
  margin: .75em 1em;
  position: relative;
  text-transform: capitalize;
  &:after {
    content: "";
    background-repeat: no-repeat;
    background-size: 50% auto;
    background-position: 50% 50%;
    height: 100%;
    position: absolute;
    right: 0.5rem;
    top: 0;
    width: 2rem;
  }
}

.btn-cta--print {
  &:after {
    background-image: url(../images/icons/icon-print.png);
  }
}

.btn-cta--download {
  &:after {
    background-image: url(../images/icons/icon-download.png);
  }
}

.btn-cta--email {
  &:after {
    background-image: url(../images/icons/icon-email.png);
  }
}

@include bp(MD) {
  .btn-standard {
    display: inline-block;
  }
}
