.callout {
  border-left: 5px solid $gray-medium;
  color: $gray-dark;
  font-size: 1.25em;
  margin: 1em 0 2em;
  max-width: 30em;
  padding: 0.25em 20px;
}

.phone-callout {
  @extend .btn-cta--helpline;
}

.callout-beta {
  background: $gray-light;
  border-left: 5px solid $acas-lime;
  padding: 1em;
  margin: 3em 0 0;
  padding-left: 1.25em;
  p {
    margin-bottom: 0;
  }
}

@include bp(MD) {
  .callout {
    font-size: 1.45em;
  }
}
