.callout {
  border-left: 5px solid $gray-medium;
  color: $gray-dark;
  font-size: 1.45em;
  margin: 1em 0 2em;
  max-width: 30em;
  padding: 0.25em 20px;
}

.phone-callout {
  background: $acas-teal;
  color: $white;
  max-width: 20em;
  padding: 1em 4em 1em 1em;
  position: relative;
  text-align: center;
  &:after {
    content: "";
    background-image: url(../images/icons/icon-telephone.png);
    background-repeat: no-repeat;
    background-size: 1.5em auto;
    background-position: 50% 50%;
    height: 100%;
    position: absolute;
    right: .5em;
    top: 0;
    width: 3em;
  }
}
