.callout {
  border-left: 5px solid $gray-medium;
  color: $gray-dark;
  font-size: 1.45em;
  margin: 1em 0 2em;
  max-width: 30em;
  padding: 0.25em 20px;
}

.callout-alternative {
  border-left: 8px solid $gray-medium;
  padding: 0.25em 20px;
}
