#feedback-form {
  @extend .container;
  background: $acas-teal-dark;
  color: $white;
  font-size: .85em;
  font-weight: $font-weight-bold;
  margin-top: 1.5em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  position: relative;
  text-align: center;
  a {
    color: $white;
    border-radius: 5px;
    display: inline-block;
    font-weight: $font-weight-normal;
    margin: 0 .125em;
    padding: 0 .125em;
    text-decoration: none;
    &:hover, &:focus {
      @extend .outline;
      outline-color: $acas-lime;
    }
  }
  .text, a {
    font-size: 0.85em;
  }
  .text {
    float: left;
    font-family: $font-family-semibold;
    display: block;
    padding: 0.125em 0.25em;
  }
}

@include bp(SM) {
  #feedback-wrapper {
    position: relative;
  }
  #feedback-form {
    font-size: 1em;
    max-width: 80%;
    padding-top: 0.25em;
    padding-bottom: 0.25em;
    text-align: left;
  }
}

@include bp(MD) {
  #feedback-form {
    max-width: 100%;
  }
}
