.webform-submission-form {
  .webform-progress-tracker {
    margin-left: 0;
  }
  .form-control {
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid $gray-medium-light;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  }
  .control-label, .fieldset-legend {
    display: block;
    color: $acas-teal;
    font-weight: bold;
    margin-bottom: .5rem;
    font-size: 1em;
  }
  .fieldset-legend, .form-type-textarea label, .form-item-employer-name label {
    font-size: 1.5em;
  }
  fieldset .control-label {
    color: $black;
    font-weight: normal;
    font-size: 1em;
  }
  .form-group, .webform-options-display-one-column {
    margin-bottom: 1rem;
    .form-item {
      .invalid {
        border: 4px solid $red;
      }
      .valid {
        border: 4px solid $green;
      }
    }
  }
  .form-type-checkbox, .form-type-radio {
    margin-bottom: 20px;
  }
  .form-item-find-address {
    margin: 0;
  }
  .description {
    margin-top: 10px;
    margin-bottom: 20px;
  }
  .form-submit {
    color: $white;
    background: $acas-teal-dark;
    display: inline-block;
    padding: .75em;
    margin: 1em 0;
    text-align: center;
    text-decoration: none;
    width: fit-content;
    cursor: pointer;
  }
  .btn-cta {
    display: inline-block;
  }
  #employer_message {
    a {
      cursor: pointer;
    }
  }
  .invalid-feedback {
    border-left: 4px solid $red;
    padding-left: 16px;
    font-size: 19px;
    line-height: 25px;
    padding: 10px;
    font-weight: 500;
    margin: 10px 0px;
    color: $red;
    display: none;
  }
  .panel-heading {
    display: none;
  }
  .webform-preview {
    #check_employer, #acas_notification_form--find_address {
      display: none;
    }
    .panel-heading {
      display: block;
      border-top: 1px solid $gray-medium;
      padding-top: 10px;
    }
  }
  .form-item-employer-name {
    .invalid-feedback {
      position: relative;
      top: -22px;
    }
  }
  .g-recaptcha {
    margin-top: 40px;
  }
}
.path-webform {
  .reference {
    font-weight: 500;
    font-size: 1.2em;
  }
  .webform-submission {
    margin-top: 40px;
  }
  .webform-container-type-details {
    position: relative;
    .webform-wizard-pages-link {
      position: absolute;
      right: 5px;
      bottom: 0;
    }
    .form-item-employer-name label {
      font-size: 1em;
    }
    .panel-title {
      text-decoration: none;
      color: $acas-teal;
      cursor: default;
      margin-bottom: 20px;
      display: block;
      font-weight: bold;
      font-size: 1.5em;
    }
    .panel-body {
      margin-left: 40px;
    }
  }
  #overlay {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 10;
    background-color: rgba(0,0,0,0.5);
  }
  #modal {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 480px;
    height: 220px;
    margin-left: -240px;
    margin-top: -110px;
    background-color: $white;
    z-index: 10;
    border: 3px solid $acas-lime;
    .title-wrapper {
      overflow: auto;
      padding: 0 1em;
      border-bottom: 3px solid $acas-lime;
      .title {
        float: left;
        font-size: 1.36em;
        line-height: 1.25;
        padding-left: 20px;
        position: relative;
        color: $acas-teal;
        font-family: "Century Gothic Bold", "AppleGothic", sans-serif;
        margin-top: 10px;
        margin-bottom: 10px;
      }
      .title:before {
        content: "";
        background: $acas-lime;
        display: block;
        width: 5px;
        height: 92%;
        position: absolute;
        left: 0;
        top: 8%;
      }
    }
    .spinner-wrapper {
      text-align: center;
      margin: 20px 0;
    }
    .modal-description {
      text-align: center;
    }
  }
  $offset: 187;
  $duration: 1.4s;
  
  .spinner {
    animation: rotator $duration linear infinite;
  }
  
  @keyframes rotator {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(270deg); }
  }
  
  .path {
    stroke-dasharray: $offset;
    stroke-dashoffset: 0;
    transform-origin: center;
    animation:
      dash $duration ease-in-out infinite, 
      colors ($duration*4) ease-in-out infinite;
  }
  
  @keyframes colors {
    0% { stroke: $acas-teal; }
    25% { stroke: $acas-teal; }
    50% { stroke: $acas-teal; }
    75% { stroke: $acas-teal; }
    100% { stroke: $acas-teal; }
  }
  
  @keyframes dash {
   0% { stroke-dashoffset: $offset; }
   50% {
     stroke-dashoffset: $offset/4;
     transform:rotate(135deg);
   }
   100% {
     stroke-dashoffset: $offset;
     transform:rotate(450deg);
   }
  }
}