.secondary-page-navigation {
  margin: 1em 0;
  overflow: auto;
}

.previous, .next {
  display: block;
  text-decoration: none;
  width: 75%;
  &:hover, &:focus {
    .details_wrapper {
      background: $gray-light;
    }
    .text, .title {
      color: $black;
    }
  }
  .text {
    position: relative;
    &:after {
      content: "";
      background-repeat: no-repeat;
      background-size: 1em auto;
      background-position: 50% 50%;
      height: 100%;
      position: absolute;
      top: 0;
      width: 1em;
    }
  }
}

.previous {
  .text {
    padding-left: 1.5em;
    &:after {
      background-image: url(../images/icons/icon-arrow-teal-left.svg);
      left: 0;
    }
  }
  &:hover, &:focus {
    .text {
      &:after {
        background-image: url(../images/icons/icon-arrow-black-left.svg);
      }
    }
  }
}

.next {
  float: right;
  text-align: right;
  .text {
    padding-right: 1.5em;
    &:after {
      background-image: url(../images/icons/icon-arrow-teal-right.svg);
      right: 0;
    }
  }
  &:hover, &:focus {
    .text {
      &:after {
        background-image: url(../images/icons/icon-arrow-black-right.svg);
      }
    }
  }
}

.details_wrapper {
  padding: .5em;
  .text {
    display: block;
    font-size: 1.45em;
  }
  .title {
    font-size: 0.875em;
    text-decoration: underline;
  }
}

.js-pager__items {
  font-family: $font-family-headers;
  margin: 3em 0 1em;
  text-align: center;
  .pager__item {
    display: inline-block;
    text-align: center;
    a {
      color: $acas-teal-dark;
      display: block;
      height: 2.5em;
      padding: .5em;
      text-decoration: none;
      width: 2.5em;
      &:focus, &:hover {
        background: $acas-teal-dark;
        border-radius: 50%;
        color: $white;
      }
    }
    &.is-active {
      a {
        background: $acas-teal-dark;
        border-radius: 50%;
        color: $white;
      }
    }
    &.pager__item--next,
    &.pager__item--last,
    &.pager__item--previous,
    &.pager__item--first {
      a {
        color: $acas-teal-dark;
        display: block;
        height: auto;
        padding: .5em 1em;
        text-decoration: none;
        width: auto;
        &:focus, &:hover {
          background: $acas-teal-dark;
          border-radius: 0;
          color: $white;
        }
      }
    }
  }
}

@include bp(SM) {
  .details_wrapper {
    padding: 1em;
  }
  .previous, .next {
    float: left;
    width: 50%;
  }
  .next {
    float: right;
  }
}

@include bp(MD) {
  .previous, .next {
    width: 50%;
  }
}
