.print-download-email {
  border: 2px solid $acas-teal;
  border-spacing: 1em 0;
  margin: 1em 0;
  padding: .5em 0;
  overflow: auto;
  text-align: center;
  width: 100%;
  li {
    display: block;
    list-style: none;
  }
  .btn-cta--print, .btn-cta--download {
    display: none;
  }
  .modal {
    border: 3px solid $acas-lime;
    .action {
      display: inline-block;
      margin: 1em;
      width: 40%;
    }
    .title-wrapper {
      border-bottom: 3px solid $acas-lime;
      overflow: auto;
      padding: 0 1em;
    }
    .title {
      @extend h2;
    }
    .close {
      @extend h4;
    }
    .x {
      margin-left: .75em;
      font-size: 1.25em;
    }
    .download-page {
      .icon {
        background-image: url(../images/icons/icon-download-page.svg);
      }
    }
    .download-guide {
      .icon {
        background-image: url(../images/icons/icon-download-guide.svg);
      }
    }
    .print-page {
      .icon {
        background-image: url(../images/icons/icon-print-page.svg);
      }
    }
    .print-guide {
      .icon {
        background-image: url(../images/icons/icon-print-guide.svg);
      }
    }
  }
}

.btn-cta--print,
.btn-cta--download,
.btn-cta--email {
  @extend .btn-standard;
  padding: 0 2.5rem 0 0;
  margin: .75em 1em;
  position: relative;
  text-transform: capitalize;
  &:after {
    content: "";
    background-repeat: no-repeat;
    background-size: 50% auto;
    background-position: 50% 50%;
    height: 100%;
    position: absolute;
    right: 0.5rem;
    top: 0;
    width: 2rem;
  }
}

.btn-cta--print {
  &:after {
    background-image: url(../images/icons/icon-print.png);
  }
}

.btn-cta--download {
  &:after {
    background-image: url(../images/icons/icon-download.png);
  }
}

.btn-cta--email {
  &:after {
    background-image: url(../images/icons/icon-email.png);
  }
}


@include bp(SM) {
  .print-download-email {
    li {
      float: left;
      width: 33.33%;
    }
    .btn-cta--print, .btn-cta--download {
      display: block;
    }
  }
  .btn-cta--print,
  .btn-cta--download,
  .btn-cta--email {
    margin: .75em auto;
  }
}
