#views-exposed-form-solr-search-content-page-1 {

}

@include bp(MD) {
  #header-main {
    #views-exposed-form-solr-search-content-page-1 {
      float: right;
    }
  }
  #header-front-page {
    #views-exposed-form-solr-search-content-page-1 {
      float: left;
    }
  }
  #views-exposed-form-solr-search-content-page-1 {
    .form-group {
      float: left;
    }
    .form--inline {
      border: 2px solid $gray-medium;
      border-radius: 5px;
      display: inline-block;
      &.active {
        border: 2px solid $acas-teal;
        #edit-submit-solr-search-content {
          background-color: $acas-teal;
        }
      }
    }
    input, #edit-submit-solr-search-content {
      border: none;
      padding: .25rem .5rem;
    }
    #edit-submit-solr-search-content {
      background-color: $gray-medium;
      color: $white;
      margin: 0;
    }
    &:active, &:focus, &:hover {
      #edit-submit-solr-search-content {
        background-color: $acas-teal;
      }
      .form--inline {
        border: 2px solid $acas-teal;
      }
    }
  }
}
