#overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 10;
  background-color: rgba(0,0,0,0.5);
}
#modal {
  border: 3px solid #CEDC00;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 580px;
  height: 250px;
  margin-left: -290px;
  margin-top: -125px;
  background-color: #FFF;
  z-index: 10;
}
#modal .title-wrapper {
  border-bottom: 3px solid #CEDC00;
  overflow: auto;
  padding: 0 1em;
}
#modal .title-wrapper .title {
  float: left;
}
#modal .spinner-wrapper {
  text-align: center;
  margin: 20px 0;
}
#modal .modal-description {
  text-align: center;
}
#block-notificationpreviewfootermessage, #block-conciliationpreviewfootermessage {
  display: none;
}

.webform-submission-form .webform-actions .webform-button--previous {
  display: none;
}
.no-js {
  display: none;
}