.list-related, .block-related-content-block nav {
  border-top: .25rem solid $acas-lime;
  max-width: 20em;
  padding: .5em 0;
  ul {
    a {
      color: $gray-dark;
      display: inline-block;
      margin: .5em 0;
    }  
  }
}
