$acas-teal: #008C95;
$acas-teal-light: #34AFBE;
$acas-teal-dark: #007C85;

$acas-lime: #CEDC00;
$acas-lime-dark: #8e9e23;

$acas-red: #771744;

$black: #000;
$white: #fff;
$red: #df3034;
$green: #28a745;

$gray-light: #F7F7F7;
$gray-medium-light: #cacaca;
$gray: #CCC;
$gray-medium: #999;
$gray-dark: #666;

$state-success-text:             $black !default;
$state-success-bg:               #dff0d8 !default;
$state-success-border:           darken(adjust-hue($state-success-bg, -10), 5%) !default;

$state-info-text:                $black !default;
$state-info-bg:                  #d9edf7 !default;
$state-info-border:              darken(adjust-hue($state-info-bg, -10), 7%) !default;

$state-warning-text:             $black !default;
$state-warning-bg:               #fcf8e3 !default;
$state-warning-border:           darken(adjust-hue($state-warning-bg, -10), 5%) !default;

$state-danger-text:              $black !default;
$state-danger-bg:                #f2dede !default;
$state-danger-border:            darken(adjust-hue($state-danger-bg, -10), 5%) !default;


$link-color: $acas-teal;
$link-color-hover: $black;
