/**
Custom Variables
**/

@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/OpenSans-Regular-webfont.eot');
  src: url('../fonts/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/OpenSans-Regular-webfont.woff') format('woff'),
       url('../fonts/OpenSans-Regular-webfont.ttf') format('truetype'),
       url('../fonts/OpenSans-Regular-webfont.svg#open_sansregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans Bold';
  src: url('../fonts/OpenSans-Bold-webfont.eot');
  src: url('../fonts/OpenSans-Bold-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/OpenSans-Bold-webfont.woff') format('woff'),
       url('../fonts/OpenSans-Bold-webfont.ttf') format('truetype'),
       url('../fonts/OpenSans-Bold-webfont.svg#open_sansbold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans Semibold';
  src: url('../fonts/OpenSans-Semibold-webfont.eot');
  src: url('../fonts/OpenSans-Semibold-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/OpenSans-Semibold-webfont.woff') format('woff'),
       url('../fonts/OpenSans-Semibold-webfont.ttf') format('truetype'),
       url('../fonts/OpenSans-Semibold-webfont.svg#open_sanssemibold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans Light';
  src: url('../fonts/OpenSans-Light-webfont.eot');
  src: url('../fonts/OpenSans-Light-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/OpenSans-Light-webfont.woff') format('woff'),
       url('../fonts/OpenSans-Light-webfont.ttf') format('truetype'),
       url('../fonts/OpenSans-Light-webfont.svg#open_sanslight') format('svg');
  font-weight: normal;
  font-style: normal;
}

@import url("https://fast.fonts.net/t/1.css?apiType=css&projectid=c1147d89-914f-4272-8a71-8f8a560ca674");

@font-face{
  font-family:"Century Gothic";
  src:url("../fonts/bd45538f-4200-4946-b177-02de8337032d.eot?#iefix");
  src:url("../fonts/bd45538f-4200-4946-b177-02de8337032d.eot?#iefix") format("eot"),url("../fonts/700cfd4c-3384-4654-abe1-aa1a6e8058e4.woff2") format("woff2"),url("../fonts/9908cdad-7524-4206-819e-4f345a666324.woff") format("woff"),url("../fonts/b710c26a-f1ae-4fb8-a9fe-570fd829cbf1.ttf") format("truetype"),url("../fonts/c9e387df-c0d3-42e1-8de6-78c41f68594c.svg#c9e387df-c0d3-42e1-8de6-78c41f68594c") format("svg");
}

@font-face{
  font-family:"Century Gothic Bold";
  src:url("../fonts/b247e158-e647-4a3d-9637-944de5124043.eot?#iefix");
  src:url("../fonts/b247e158-e647-4a3d-9637-944de5124043.eot?#iefix") format("eot"),url("../fonts/bc0668e2-e5c8-45ce-954d-3b998c6b6803.woff2") format("woff2"),url("../fonts/2ef5ecda-1772-45e2-843f-a13f5d76ed3a.woff") format("woff"),url("../fonts/33cf10ca-a6bb-4888-a320-d38720c9847b.ttf") format("truetype"),url("../fonts/3428a0e6-cb4d-408a-8331-cc78554ab49c.svg#3428a0e6-cb4d-408a-8331-cc78554ab49c") format("svg");
}

$font-family: "Open Sans", sans-serif;
$font-family-base: $font-family;

$font-family-headers: "Century Gothic Bold", "AppleGothic", sans-serif;

$font-family-bold: "Open Sans Bold", sans-serif;
$font-family-semibold: "Open Sans Semibold", sans-serif;
$font-family-light: "Open Sans Light", sans-serif;

$font-weight-body: 400;
$font-weight-normal: $font-weight-body; 
$font-weight-semibold: 500;
$font-weight-bold: 600;
