/**
Bootstrap Overrides
**/

// Set the proper directory for the Bootstrap Glyphicon font.
$icon-font-path: '../bootstrap/assets/fonts/bootstrap/';

// Extra small screen / phone
$screen-xs:                  480px !default;
$screen-xs-min:              $screen-xs !default;
$screen-phone:               $screen-xs-min !default;

// Small screen / tablet
$screen-sm:                  768px !default;
$screen-sm-min:              $screen-sm !default;
$screen-tablet:              $screen-sm-min !default;

// Medium screen / desktop
//** Deprecated `$screen-md` as of v3.0.1
$screen-md:                  992px !default;
$screen-md-min:              $screen-md !default;
$screen-desktop:             $screen-md-min !default;

// Large screen / wide desktop
//** Deprecated `$screen-lg` as of v3.0.1
$screen-lg:                  1200px !default;
$screen-lg-min:              $screen-lg !default;
$screen-lg-desktop:          $screen-lg-min !default;

$screen-xl:                  1824px !default;
$screen-xl-min:              $screen-xl !default;
$screen-xl-desktop:          $screen-xl-min !default;

// So media queries don't overlap when required, provide a maximum
$screen-xs-max:              ($screen-sm-min - 1) !default;
$screen-sm-max:              ($screen-md-min - 1) !default;
$screen-md-max:              ($screen-lg-min - 1) !default;

$mobile:            "screen and (max-width: #{$screen-xs-max})";
$tablet:            "screen and (min-width: #{$screen-sm-min})";
$tablet-only:       "(min-width: #{$screen-sm-min}) and (max-width: #{$screen-sm-max})";
$normal:            "screen and (min-width: #{$screen-md-min})";
$normal-only:       "(min-width: #{$screen-md-min}) and (max-width: #{$screen-md-max})";
$large:             "screen and (min-width: #{$screen-lg-min})";

$grid-gutter-width:         30px !default;

// Small screen / tablet
$container-tablet:             (720px + $grid-gutter-width) !default;

$container-sm:                 $container-tablet !default;

// Medium screen / desktop
$container-desktop:            (940px + $grid-gutter-width) !default;
$container-md:                 $container-desktop !default;

// Large screen / wide desktop
$container-large-desktop:      (1170px + $grid-gutter-width) !default;
$container-lg:                 $container-large-desktop !default;

$container-extralarge-desktop: (1366 + $grid-gutter-width) !default;
$container-xl:                 $container-extralarge-desktop !default;


$alert-padding:    .75em;

.outline {
  outline-color: rgb(77, 144, 254); // #4D90FE
  outline-offset: -2px;
  outline-style: auto;
  outline-width: 5px;
}
