.footer__wrapper {
  background: $gray-light;
  padding: 2em 0;
}

.footer-logo {
  max-width: 10rem;
}

#footer__inner {
  font-size: 75%;
  ul {
    margin: 1em 0;
  }
  a {
    color: $gray-dark;
    display: block;
    padding: .25rem 0;
    text-decoration: none;
    &:hover, &:focus {
      text-decoration: underline;
    }
  }
}

@include bp(MD) {
  #footer__inner {
    ul {
      margin: 0;
    }
  }
}
