#header-main {
  border-bottom: 5px solid $acas-lime;
  #block-acas-main-menu {
    clear: both;
  }
  #block-sitebranding {
    img {
      display: inline-block;
      max-width: 10em;
      vertical-align: text-top;
    }
    .branding-block__logo {
      display: block;
    }
  }
  .region-branding-bar {
    padding-top: 0.75em;
    padding-bottom: 0.75em;
  }
}
