#header-main {
  border-bottom: 5px solid $acas-lime;
}

#block-acas-main-menu {
  clear: both;
}

.region-branding-bar {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.region-navigation-collapsible {
  background-color: $gray-light;
}

.menu-primary__icon {
  color: $gray-dark;
  font-size: 2rem;
  float: right;
  text-decoration: none;
}
.menu-primary {
  display: none;
}

.menu-primary__item, .menu-secondary__item {
  position: relative;
  > ul {
    background: white;
    left: 0;
    list-style: none;
    position: absolute;
    visibility: hidden;
    width: 100%;
    z-index: 1001;
    li {
      display: block;
      padding: 0.5em 1em;
      width: 100%;
    }
  }
}

.menu-primary__link,
.menu-secondary__link {
  color: $acas-teal;
  display: block;
  font-size: 1rem;
  font-weight: bold;
  line-height: 2rem;
  font-weight: bold;
  text-decoration: none;
}

/* Medium Screens and Up */
@include bp(MD) {
  .menu-primary__icon {
    display: none;
  }
  .menu-primary {
    display: table;
    table-layout: fixed;
    width: 100%;
  }
  .menu-primary__item {
    display: table-cell;
    &:hover, &:focus {
      .menu-secondary {
        -webkit-box-shadow: 2px 2px 16px 0px rgba(204,204,204,1);
        -moz-box-shadow: 2px 2px 16px 0px rgba(204,204,204,1);
        box-shadow: 2px 2px 16px 0px rgba(204,204,204,1);
        transition-delay: 0s; /* react immediately on hover */
        visibility: visible;
        top: 100%;
      }
    }
    &:hover, &:focus {
      .menu-primary__link {
        background: $acas-teal;
        color: $white;
        &:after {
          background-image: url(../images/icons/icon-chevron-white-down.png);
        }
      }
    }
  }
  .menu-primary__link {
    display: inline-block;
    padding: 0.5rem 2rem 0.5rem 1rem;
    position: relative;
    &:after {
      content: "";
      background-image: url(../images/icons/icon-chevron-teal-down.png);
      background-size: 100% auto;
      background-position: 50% 50%;
      background-repeat: no-repeat;
      height: 1rem;
      position: absolute;
      right: 0.75rem;
      top: 1rem;
      width: 0.75rem;
    }
  }
  .menu-secondary {
    border-top: 0.75em solid $acas-teal;
    margin-top: .75em;
    transition: all 0s ease;
    transition-delay: 0.5s;
    &:before {
      content: "";
      background-color: transparent;
      display: block;
      height: 1.5em;
      position: absolute;
      top: -1.5em;
      width: 100%;
    }
    &:after {
      content: "";
      border-bottom: 1em solid $acas-teal;
      border-right: 1em solid transparent;
      border-top: 1em solid transparent;
      border-left: 1em solid transparent;
      display: block;
      height: 0px;
      left: calc(50% - 1em);
      margin: auto;
      position: absolute;
      top: -2.25em;
      width: 0px;
    }
  }
}
//
// @include bp(LG) {
//   .menu-primary__link {
//     padding: 0.5rem 3rem 0.5rem 1rem;
//   }
// }
