#header-main {
  border-bottom: 5px solid $acas-lime;
}

#block-acas-main-menu {
  clear: both;
}

.menu-primary__item, .menu-secondary__item {
  position: relative;
  > ul {
    display: none;
    background: white;
    left: 0;
    list-style: none;
    position: absolute;
    width: 100%;
    z-index: 1001;
    li {
      display: block;
      width: 100%;
      padding: 0.5em 1em;
    }
  }
}

.menu-primary__link,
.menu-secondary__link {
  color: $acas-teal;
  display: block;
  font-size: 1rem;
  font-weight: bold;
  line-height: 2rem;
  font-weight: bold;
  text-decoration: none;
}

/* Medium Screens and Up */
@include bp(MD) {
  #block-acas-main-menu {
    margin-top: 2em;
  }
  .nav-main__icon {
    display: none;
  }
  .menu-primary {
    display: table;
    table-layout: fixed;
    width: 100%;
  }
  .menu-primary__item {
    display: table-cell;
    &:hover, &:focus {
      background: $acas-teal;
      .menu-primary__link {
        background: $acas-teal;
        color: $white;
      }
    }
    &.active {
      .menu-secondary {
        -webkit-box-shadow: 2px 2px 16px 0px rgba(204,204,204,1);
        -moz-box-shadow: 2px 2px 16px 0px rgba(204,204,204,1);
        box-shadow: 2px 2px 16px 0px rgba(204,204,204,1);
        display: block;
        top: 100%;
      }
    }
  }
  .menu-primary__link {
    padding: 1em 2em;
  }
  .menu-secondary {
    border-top: 0.75em solid $acas-teal;
    margin-top: 1em;
    &:before {
      content: "";
      border-bottom: 1em solid $acas-teal;
      border-right: 1em solid transparent;
      border-top: 1em solid transparent;
      border-left: 1em solid transparent;
      display: block;
      height: 0px;
      left: calc(50% - 1em);
      margin: auto;
      position: absolute;
      top: -2.5em;
      width: 0px;
    }
  }
}
