#block-landingpagesblock, #block-landingpagebottomblock {
  clear: left;
  margin-bottom: 45px;
}

#block-landingpagebottomblock {
  h2 {
    margin-top: 0;
  }
}

#block-landingpagesblock, .block-home-page-block {
  article {
    @extend .col-xs-12;
    @extend .col-sm-6;
    @extend .col-md-4;
    margin-bottom: 1em;
    a {
      text-decoration: none;
      &:hover, &:focus {
        text-decoration: underline;
      }
    }
    .article__wrapper {
      border: 4px solid $acas-lime;
      border-radius: 1em;
      min-height: 10em;
      padding: 1em 1.25em;
      position: relative;
      &:hover, &:focus {
        background: $gray-light;
        h2 {
          color: $acas-teal-dark;
        }
      }
      h2 {
        border-left: none;
        margin-top: 0;
        padding-left: 0;
        &:before {
          display: none;
        }
      }
    }
    .article__content {
      bottom: 1em;
      color: $black;
      font-size: 85%;
      left: 0;
      max-height: 6em;
      overflow: hidden;
      width: 100%;
      p {
        margin-bottom: 0;
      }
    }
  }
}

@include bp(SM) {
  .block-home-page-block {
    article {
      .article__wrapper {
        min-height: 12em;
      }
      .article__content {
        max-height: 9em;
      }
    }
  }
  #block-landingpagesblock {
    article {
      .article__wrapper {
        min-height: 12em;
      }
    }
  }
  #block-landingpagesblock, .block-home-page-block {
    article {
      .article__content {
        padding: 0 1.5em;
        position: absolute;
      }
    }
  }
}

@include bp(MD) {
  .block-home-page-block {
    article {
      .article__wrapper {
        min-height: 16em;
      }
      .article__content {
        max-height: 9em;
      }
    }
  }
}

@include bp(LG) {
  .block-home-page-block {
    article {
      .article__wrapper {
        min-height: 13em;
      }
    }
  }
}
