/* Region / container styles */
.region-navigation-collapsible {
  background-color: $gray-light;
}

/* Menu icon styles */
.menu-primary__icon {
  color: $gray-dark;
  font-size: 2em;
  float: right;
  text-decoration: none;
}

/* Menu List Styles */
.menu-primary {
  display: none;
  &.menu-primary--active {
    display: block;
  }
}

.menu-secondary {
  display: none;
  left: 0;
  list-style: none;
  position: relative;
  width: 100%;
  z-index: 1001;
}

/* Menu Item Styles */
.menu-primary__item {
  padding: .5em 0;
  position: relative;
}

.menu-secondary__item,
.menu-secondary__title {
  display: block;
  padding: 0.5em 1em;
  width: 100%;
}

/* Menu Link Styles */
.menu-primary__link,
.menu-secondary__link {
  color: $acas-teal-dark;
  text-decoration: none;
}

.menu-primary__link {
  display: block;
  font-family: $font-family-headers;
  position: relative;
}

.menu-secondary__link {
  color: $black;
  font-size: 0.85em;
  line-height: 1;
  text-decoration: none;
  &:hover, &:focus {
    text-decoration: underline;
  }
}

/* Interactions and Dropdowns */
.menu-primary__item {
  &.menu-primary__item--has-dropdown {
    .menu-primary__link {
      &:after {
        content: "";
        background-image: url(../images/icons/icon-chevron-teal-right.svg);
        background-size: 100% auto;
        background-position: 50% 50%;
        background-repeat: no-repeat;
        height: 1.125em;
        margin-left: 1em;
        position: absolute;
        top: 0.5em;
        display: inline-block;
        width: 0.5em;
      }
    }
  }
  &.menu-primary__item--active {
    .menu-secondary {
      display: block;
    }
    .menu-primary__link {
      &:after {
        background-image: url(../images/icons/icon-chevron-teal-down.svg);
        width: 1em;
      }
    }
  }
}


/* Medium Screens and Up */
@include bp(MD) {
  /* Region / container styles */
  #block-acas-main-menu {
    margin-left: -15px;
    margin-right: -15px;
  }

  /* Menu icon styles */
  .menu-primary__icon {
    display: none;
  }

  /* Menu styles */
  .menu-primary {
    display: block;
    width: 100%;
  }

  .menu-secondary {
    background: $white;
    border-top: 0.5em solid $acas-teal-dark;
    display: block;
    margin-top: .75em;
    position: absolute;
    transition: all 0s ease;
    transition-delay: 0.5s;
    -webkit-box-shadow: 2px 2px 16px 0px rgba(204,204,204,1);
    -moz-box-shadow: 2px 2px 16px 0px rgba(204,204,204,1);
    box-shadow: 2px 2px 16px 0px rgba(204,204,204,1);
    h3 {
      margin: 0;
    }
    &:before {
      content: "";
      background-color: transparent;
      display: block;
      height: 1.5em;
      position: absolute;
      top: -1.5em;
      width: 100%;
    }
    &:after {
      content: "";
      border-bottom: 1em solid $acas-teal-dark;
      border-right: 1em solid transparent;
      border-top: 1em solid transparent;
      border-left: 1em solid transparent;
      display: block;
      height: 0px;
      left: calc(50% - 1em);
      margin: auto;
      position: absolute;
      top: -2.25em;
      width: 0px;
    }
  }

  /* Menu item styles */
  .menu-primary__item {
    float: left;
    padding: 0;
    width: 25%;
  }

  .menu-secondary__item {
    &:hover, &:focus {
      background: $gray-light;
    }
  }

  /* Menu link styles */
  .menu-primary__link {
    padding: 0.5em 15px;
  }

  /* Interactions and Dropdowns */
  .menu-primary__item {
    &:hover, &:focus {
      .menu-primary__link {
        background: $acas-teal-dark;
        color: $white;
        &:before {
          content: "";
          background: $acas-teal-dark;
          display: block;
          height: 5px;
          left: 0;
          position: absolute;
          top: 100%;
          width: 100%;
        }
      }
    }
  }

  .menu-primary__item {
    &.menu-primary__item--has-dropdown {
      .menu-primary__link {
        @if $compile-IE {
          &:after {
            display: none;
          }
        }
        @else {
          &:after {
            background-image: url(../images/icons/icon-chevron-teal-down.svg);
            position: absolute;
            right: 1em;
            top: .75em;
          }
        }
        &:hover, &:focus {
          @if $compile-IE {
            &:after {
              display: none;
            }
          }
          @else {
            &:after {
              background-image: url(../images/icons/icon-chevron-white-down.svg);
            }
          }
        }
      }
      &[aria-expanded="false"] {
        .menu-secondary {
          display: none;
        }
      }
      &[aria-expanded="true"], &:hover, &:focus {
        .menu-primary__link {
          @if $compile-IE {
            &:after {
              display: none;
            }
          }
          @else {
            &:after {
              background-image: url(../images/icons/icon-chevron-white-down.svg);
            }
          }  
        }
      }
    }
  }

}

@include bp(LG) {
  @if $compile-IE {
    .menu-primary__item {
      margin: 0 1.5%;
      width: 22%;
    }
  }
  @else {
    .menu-primary__item {
      margin: 0 3%;
      width: 22%;
      &:first-child, &:last-child {
        margin: 0;
      }
    }
  }
  .menu-primary__item {
    &.menu-primary__item--has-dropdown {
      .menu-primary__link {
        @if $compile-IE {
          &:after {
            display: none;
          }
        }
        @else {
          &:after {
            display: inline-block;
            height: .5em;
            margin-left: 1em;
            position: relative;
            right: 0;
            top: 0;
            width: 1em;
          }
        }
      }
    }
  }
}
