/* Base search page styles */
.search-index {
  a {
    text-decoration: none;
    &:hover, &:focus {
      text-decoration: underline;
    }
  }
}

/* Search */
.path-solr-search {
  .field--name-field-rate-this-content, .field--name-field-taxonomy, .print__wrapper--pdf {
    display: none;
  }
}

/* Result Listings */
.view-solr-search-content {
  @extend .col-xs-12;
  padding-bottom: 2em;
  .view-header {
    padding: 1.5em 0 1em;
    p {
      margin-bottom: 0;
    }
  }
  .views-row {
    overflow: auto;
    padding: 1em 0 1.5em;
    h2 {
      margin-bottom: .75em;
      margin-top: 0;
      padding-left: 0;
      &:before {
        display: none;
      }
    }
    &.odd {
      background-color: $gray-light;
    }
  }
}


/* Did you mean... */
.search-alternative {
  margin-top: 0;
  ul {
    display: inline-block;
    list-style: none;
    margin-bottom: 0;
    margin-left: .25em;
    a {
      &:hover, &:focus {
        text-decoration: none;
      }
    }
  }
}

/* Guide results with chapters */
.chapters--search {
  padding-top: 1.25em;
  h2 {
    @extend h3;
  }
  ul {
    a {
      color: $black;
      text-decoration: underline;
      &:hover, &:focus {
        text-decoration: none;
      }
    }
  }
}

/* No results */
.view-empty {
  padding: 1.5em 0;
  p {
    margin-bottom: 1em;
  }
}

/* Search Breadcrumbs */
ul.breadcrumb--search {
  @extend .breadcrumb;
  margin-left: 0;
  margin-bottom: 0;
  padding-top: .6em;
  li {
    padding: 0;
    &:first-child {
      display: none;
      &:after {
        display: none;
      }
    }
  }
}

@include bp(MD) {
  .view-solr-search-content {
    .field--name-field-summary {
      max-width: 75%;
    }
    .view-header {
      max-width: 75%;
    }
  }
}
