/* Base search page styles */
.search-index {
  a {
    text-decoration: none;
    &:hover, &:focus {
      text-decoration: underline;
    }
  }
}

/* Search */
.path-solr-search {
  .field--name-field-rate-this-content, .field--name-field-taxonomy, .print__wrapper--pdf {
    display: none;
  }
}

/* Did you mean... */
.search-alternative {
  margin-top: 0;
  ul {
    display: inline-block;
    list-style: none;
    margin-bottom: 0;
    margin-left: .25em;
    a {
      &:hover, &:focus {
        text-decoration: none;
      }
    }
  }
}

/* No results */
.view-empty {
  p {
    margin-bottom: 1em;
  }
}

/* Content Listings */
.view-solr-search-content {
  @extend .col-xs-12;
  padding-bottom: 2em;
  .view-header {
    padding: 1.5em 0 1em;
    p {
      margin-bottom: 0;
    }
  }
  .views-row {
    margin: 1em 0;
    overflow: auto;
    padding: 1em 0;
    h2 {
      border-left: none;
      padding-left: 0;
      margin-top: 0;
      &:before {
        display: none
      }
    }
    &.odd {
      background-color: $gray-light;
    }
  }
}
