#social-share {
  background: $gray-light;
  border-radius: 30px;
  margin-bottom: 1em;
  overflow: hidden;
  padding: 0.225em 1em;
  .text {
    float: left;
    font-size: 0.85em;
    padding: .125em 0;
  }
  .social-media-sharing {
    float: right;
    clear: right;
    padding-top: .125em;
  }
  .share {
    &:hover, &:focus {
      @extend .outline;
    }
  }
  img {
    height: auto;
    vertical-align: text-top;
    width: 1.25em;
  }
}
