* {
  box-sizing: border-box;
}

body {
  font-family: $font-family;
  font-weight: $font-weight-body;
  font-size: 17px;
  font-style: normal;
  line-height: 1.5;
}

img {
  max-width: 100%;
}

p {
  margin-bottom: 1.25em;
}

table {
  margin: 1em 0 2em;
  p {
    margin-bottom: 0;
  }
  thead {
    background: $acas-teal-dark;
    color: $white;
    font-family: $font-family-bold;
    text-align: left;
    a {
      color: white;
    }
  }
  td, th {
    border: 2px solid $white;
    padding: 0.5em 1em;
  }
  td {
    background: $gray-light;
  }
}

strong, b {
  font-family: $font-family-semibold;
}

.region-content {
  ul {
    list-style-type: disc;
  }
  ol {
    list-style-type: decimal;
  }
  ul, ol {
    margin-left: 1.5em;
    margin-bottom: 1.25em;
    p {
      margin-bottom: 0;
    }
    li {
      padding: .125em 0;
    }
  }
  .paragraph {
    margin: 1em 0 2em;
  }
}

%list-no-format {
  ul {
    list-style-type: none;
    margin-left: 0;
    margin-bottom: 0;
    li {
      padding: 0;
    }
  }
}

/* Screenreader Code */
.screenreader {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.sr-only {
  @extend .screenreader;
}

.clearfix {
  &::after {
    content: "";
    clear: both;
    display: table;
  }
}

#print-preview,
.path-guide-print,
.path-page-print,
.print {
  #header-main {
    display: none;
  }
  h1, h2 {
    padding-left: 0;
    &:before {
      display: none;
    }
  }
  .btn-cta--helpline {
    display: none;
  }
  a {
    &.link--external {
      &:after {
        display: none !important;
      }
    }
  }
}
