* {
  box-sizing: border-box;
}

html {
  font-size: 19px;
}

body {
  font-family: $font-family;
  font-weight: $font-weight-body;
  font-size: 19px;
  font-style: normal;
  line-height: 1.5;
}

img {
  max-width: 100%;
}

p {
  margin-bottom: 1.25em;
}

strong, b {
  font-family: $font-family-semibold;
}

.region-content {
  ul {
    list-style-type: disc;
  }
  ol {
    list-style-type: decimal;
  }
  ul, ol {
    margin-left: 1.5em;
    margin-bottom: 1.25em;
    p {
      margin-bottom: 0;
    }
    li {
      padding: .125em 0;
    }
  }
}

%list-no-format {
  ul {
    list-style-type: none;
    margin-left: 0;
    margin-bottom: 0;
    li {
      padding: 0;
    }
  }
}

/* Screenreader Code */
.screenreader {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.sr-only {
  @extend .screenreader;
}

.clearfix {
  &::after {
    content: "";
    clear: both;
    display: table;
  }
}

#print-preview,
.path-guide-print,
.path-page-print,
.print {
  #header-main {
    display: none;
  }
  h1, h2 {
    padding-left: 0;
    &:before {
      display: none;
    }
  }
  .btn-cta--helpline {
    display: none;
  }
  a {
    &.link--external {
      &:after {
        display: none !important;
      }
    }
  }
}
