.link--back, .back--link {
  cursor: pointer;
  display: inline-block;
  font-size: 1em;
  position: relative;

  // margin-top: govuk-spacing(3);
  // margin-bottom: govuk-spacing(3);

  // Allow space for the arrow
  padding-left: 14px;

  background: transparent;
  border: none;
  // Use border-bottom rather than text-decoration so that the arrow is
  // underlined as well.
  border-bottom: 1px solid acas-color("black");

  // Underline is provided by a bottom border
  text-decoration: none;

  // Prepend left pointing arrow
  &:before {
    @include acas-shape-arrow($direction: left, $base: 10px, $height: 6px);

    content: "";

    // Vertically align with the parent element
    position: absolute;

    top: -1px;
    bottom: 1px;
    left: 0;

    margin: auto;
  }
  &:hover, &:focus {
    border-bottom: none;
  }
}
