.region.region-top-bar {
  border-bottom: 1px solid acas-color("gray-medium-light");
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  overflow: auto;
}

.block-beta-banner {
  color: acas-color("gray-dark");
  font-size: 85%;
  width: 100%;
}

.beta-icon {
  background: acas-color("teal");
  color: acas-color("white");
  padding: 0 .5em;
  margin: 0 .5em 0 0;
  text-transform: uppercase;
}
