.eu-cookie-compliance-banner {
  background-color: acas-color("teal");
  .eu-cookie-compliance-content {
    @extend .container;
    color: acas-color("white");
    font-style: normal;
    padding: 1em 0.75em;
    max-width: 100%;
    .eu-cookie-compliance-message {
      @extend .col-xs-12;
      @extend .col-sm-8;
      @extend .col-lg-9;
      max-width: 100%;
      p {
        margin-bottom: 0;
      }
      .title {
        display: inline-block;
        font-family: $font-family-headers;
        font-weight: 700;
        font-size: 1em;
        margin-right: 50px;
        vertical-align: middle;
      }
      .text {
        display: inline-block;
        font-family: 'Open Sans';
        font-size: 0.8em;
        font-weight: 400;
        vertical-align: middle;
      }
    }
    .eu-cookie-compliance-buttons {
      @extend .col-xs-12;
      @extend .col-sm-4;
      @extend .col-lg-3;
      margin-top: 0.875em;
      button {
        background: acas-color("lime");
        border: none;
        border-bottom: 5px solid acas-color("lime-dark");
        color: acas-color("teal-dark");
        font-size: 0.745em;
        font-family: $font-family-headers;
        padding: 0.5em 2em 0.5em 1em;
        position: relative;
        &:first-child {
          margin-right: .5em;
        }
        &:after {
          content: "";
          display: inline-block;
          border-top: 5px solid transparent;
          border-bottom: 5px solid transparent;
          border-left: 8px solid acas-color("teal-dark");
          position: absolute;
          right: .75em;
          top: 14px;
          height: 0;
          width: 0;
        }
        &:hover, &:focus {
          background: acas-color("teal-dark");
          color: acas-color("lime");
          &:after {
            border-left-color: acas-color("lime");
          }
        }
      }
    }
  }
}

@include bp(md) {
  .eu-cookie-compliance-banner {
    .eu-cookie-compliance-content {
      .eu-cookie-compliance-message {
        .title {
          font-size: 1.1em;
        }
      }
      .eu-cookie-compliance-buttons {
        margin-top: 1.875em;
        text-align: center;
      }
    }
  }
}

@include bp(lg) {
  .eu-cookie-compliance-banner {
    .eu-cookie-compliance-content {
      .eu-cookie-compliance-message {
        .text {
          max-width: 75%;
        }
      }
    }
  }
}
