.fieldgroup {
  padding: 0;
  margin: 1em 0;
  legend {
    margin: .5em 0;
    display: block;
  }
  .description {
    font-size: 0.825em;
    color: acas-color("gray-dark");
  }
}

.fieldset-legend {
  display: block;
  color: acas-color("teal");
  font-family: $font-family-semibold;
  margin-bottom: .5rem;
  font-size: 1em;
}

.control-label {
  @extend .fieldset-legend;
  color: acas-color("black");
}
