.footer {
  border-top: 5px solid acas-color("teal-dark");
  background: acas-color("gray-light");
  padding: 2em 0;
}

.footer-logo {
  max-width: 10rem;
}

#footer__inner {
  font-size: 75%;
  ul {
    margin: 1em 0;
  }
  a {
    color: acas-color("gray-dark");
    display: block;
    padding: .25rem 0;
    text-decoration: none;
    &:hover, &:focus {
      text-decoration: underline;
    }
  }
}

@include bp(md) {
  #footer__inner {
    ul {
      margin: 0;
    }
  }
}
