.form-title {
  h2 {
    @extend .h1;
  }
  display: inline-block;
}
.panel-title {
  cursor: default;
  color: acas-color("teal");
  display: block;
  font-weight: bold;
  font-size: 1.25em;
  margin-bottom: .5em;
  text-decoration: none;
}
