 .block-in-this-section-block {
  @extend %list-no-format;
  clear: left;
  padding-bottom: 2em;
  margin-top: -45px;
  .section__wrapper {
    border-left: 5px solid acas-color("gray-medium-light");
    padding-left: 1em;
    padding-top: 1em;
  }
  h2 {
    border-left: none;
    color: acas-color("gray-dark");
    font-family: $font-family-base;
    font-size: 1em;
    padding-left: 0;
    &:before {
      display: none;
    }
  }
}
