#block-exposedformsolr-search-contentpage-1-3{
  display: none;
  margin-top: 2em;
  margin-bottom: 1em;
}

#block-searchblock {
  @extend .row;
  form {
    @extend .col-xs-12;
    @extend .col-sm-8;
  }
  clear: left;
  display: block;
  margin-top: .25em;
  margin-bottom: 1em;
}

#views-exposed-form-solr-search-content-page-1, #views-exposed-form-search-content-page-1, #block-exposedformsearch-contentpage-1, #search-form {
  margin-top: 0.25em;
  .form-group {
    float: left;
    overflow: hidden;
  }
  .form-item {
    width: 85%;
  }
  .form-actions {
    width: 15%;
  }
  .form-type-select {
    display: none;
  }
  input,
  #edit-submit-solr-search-content,
  #edit-submit-search-content,
  #edit-submit-search {
    border: none;
    height: 2.25em;
    padding: .25em .5em;
    width: 100%;
  }
  #edit-submit-solr-search-content,
  #edit-submit-search-content,
  #edit-submit-search {
    background-color: acas-color("gray-dark");
    color: acas-color("white");
    margin: 0;
    img {
      height: 1em;
      margin-top: .25em;
    }
  }
  .form--inline, .form-item-edit-keys {
    border: 1px solid acas-color("gray-medium-light");
    border-radius: 2px;
    display: block;
    &.active {
      border-color: acas-color("teal");
      #edit-submit-solr-search-content {
        background-color: acas-color("teal");
      }
    }
  }
  &:active, &:focus, &:hover {
    #edit-submit-solr-search-content,
    #edit-submit-search-content,
    #edit-submit-search {
      background-color: acas-color("teal");
    }
    .form--inline {
      border-color: acas-color("teal");
    }
  }
}
#search-form {
  display: table;
}
.path-search {
  #views-exposed-form-solr-search-content-page-1,
  #views-exposed-form-search-content-page-1 {
    .form-type-select {
      display: block;
    }
  }
}
.page-node-type-page {
  .views-exposed-form {
    padding: 0;
  }
}

@if $compile-IE {
  #views-exposed-form-solr-search-content-page-1,
  #views-exposed-form-search-content-page-1,
  #search-form {
    .form-item {
      width: 75%;
    }
    .form-actions {
      width: 25%;
    }
    .search-text {
      display: block;
    }
  }
  #edit-submit-solr-search-content,
  #edit-submit-search-content,
  #search-form {
    img {
      display: none;
    }
  }
}

@else {
  .search-text {
    display: none;
  }
}

@include bp(md) {
  #block-searchblock {
    display: none;
  }
  #block-exposedformsolr-search-contentpage-1-3 {
    display: block;
    margin-top: 0em;
    margin-bottom: 0em;
  }
  #header-front-page, #header-main {
    #views-exposed-form-solr-search-content-page-1 {
      float: right;
    }
  }
}
