.path-webform {

  $offset: 187;
  $duration: 1.4s;

  .reference {
    font-weight: 500;
    font-size: 1.2em;
  }

  .webform-container-type-details {
    border-top: 1px solid $gray-medium;
    position: relative;
    padding: .25em 0;
    .form-item-employer-name label {
      font-size: 1em;
    }
    .panel-title {
      cursor: default;
      color: $acas-teal;
      display: block;
      font-size: 1.25em;
      font-weight: bold;
      margin-bottom: 1em;
      text-decoration: none;
    }
    .panel-body {
      @extend .clearfix;
      margin-left: 1em;
      .control-label {
        color: $black;
      }
      .form-item {
        float: left;
        width: 80%;
      }
      section.webform-wizard-page-edit.form-group {
        float: right;
        width: 15%;
      }
      .webform-wizard-pages-link {
        float: right;
        margin: 0;
      }
    }
  }

  /* Retire */
  #overlay {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 10;
    background-color: rgba(0,0,0,0.5);
  }

  /* Retire */
  #modal {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 480px;
    height: 220px;
    margin-left: -240px;
    margin-top: -110px;
    background-color: $white;
    z-index: 10;
    border: 3px solid $acas-lime;
    .title-wrapper {
      overflow: auto;
      padding: 0 1em;
      border-bottom: 3px solid $acas-lime;
      .title {
        float: left;
        font-size: 1.36em;
        line-height: 1.25;
        padding-left: 20px;
        position: relative;
        color: $acas-teal;
        font-family: "Century Gothic Bold", "AppleGothic", sans-serif;
        margin-top: 10px;
        margin-bottom: 10px;
      }
      .title:before {
        content: "";
        background: $acas-lime;
        display: block;
        width: 5px;
        height: 92%;
        position: absolute;
        left: 0;
        top: 8%;
      }
    }
    .spinner-wrapper {
      text-align: center;
      margin: 20px 0;
    }
    .modal-description {
      text-align: center;
    }
  }
  
  .spinner {
    animation: rotator $duration linear infinite;
  }
  
  .path {
    stroke-dasharray: $offset;
    stroke-dashoffset: 0;
    transform-origin: center;
    animation:
      dash $duration ease-in-out infinite, 
      colors ($duration*4) ease-in-out infinite;
  }

  @keyframes rotator {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(270deg); }
  }
  
  @keyframes colors {
    0% { stroke: $acas-teal; }
    25% { stroke: $acas-teal; }
    50% { stroke: $acas-teal; }
    75% { stroke: $acas-teal; }
    100% { stroke: $acas-teal; }
  }
  
  @keyframes dash {
   0% { stroke-dashoffset: $offset; }
   50% {
     stroke-dashoffset: $offset/4;
     transform:rotate(135deg);
   }
   100% {
     stroke-dashoffset: $offset;
     transform:rotate(450deg);
   }
  }
}