<html>
<head>
  <meta charset="utf-8">
  <title>{{ title }}</title>
  {{ entity_print_css }}
  <style>
    .media-file .field--name-field-html-url, .field--name-field-html-body, .webform-submission-form,
    .field--name-field-rate-this-content, .taxonomy-parent, .field--name-field-taxonomy, .show-html,
    #anything-wrong-wrapper, .print__wrapper--pdf, .field--name-field-media-file .field--label {
      display: none;
    }
    .field--name-field-media-file .file-size {
      margin-left: 15px;
    }
    a {
      text-decoration: none;
    }
  </style>
</head>
<body>
<div class="page">
    {{ content }}
</div>
</body>
</html>
