.path-webform,
.path-conciliation,
.path-notification,
.path-group {
  header#block-acas-page-title,
  .webform-submission-form,
  .webform-confirmation,
  .region-content .block--bare {
    @include clearfix;
    @extend .col-xs-12;
    @extend .col-md-8;
    @extend .col-lg-7;
    @extend .col-centered;
    @extend %margin-vertical-4x;
  }
}

.webform-submission-form {
  @extend .col-xs-12;
  @extend .col-md-8;
  @extend .col-lg-7;
  @extend .col-centered;
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  /* IE10+ */
  .webform-submission-form {
    fieldset {
      legend {
        width: 90%;
      }
    }
  }
}

#block-prescribed-notificationpreviewfootermessage,
#block-conciliationpreviewfootermessage {
  @extend .col-xs-12;
  @extend .col-md-8;
  @extend .col-lg-7;
  @extend .guidance-text--light;
  @extend .col-centered;
}

.prescribed {

  h1, h2, h3, h4, h5, h6 {
    color: acas-color("maroon");
  }

  h1, h2 {
    border-left: none;
    padding-left: 0;
  }

  a {
    &:focus {
      background-color: acas-color("maroon");
      color: acas-color("white");
    }
  }

  .beta-icon {
    background: acas-color("maroon");
  }

  #header-main {
    border-bottom: none;
  }

  .region-navigation-collapsible {
    background: acas-color("maroon");
    color: white;
    padding: 1em 0;
    p {
      @extend %margin-bottom-0x;
    }
  }

  .guidance-text {
    @extend .text-small;
    border-color: acas-color("gray-dark");
  }

  .text--guidance {
    @extend .guidance-text;
  }
  
  .btn-primary {
    @extend %margin-vertical-4x;
    cursor: pointer;
    background: acas-color("maroon");
    border: 1px solid acas-color("maroon");
    color: acas-color("white");
    &:hover, &:focus {
      background: acas-color("white");
      border: 1px solid acas-color("maroon");
      color: acas-color("maroon");
    }
  }
  
  .btn-primary[disabled="true"],
  .btn-primary[disabled] {
    cursor: default;
    opacity: 0.3;
    &:hover, &:focus {
      background-color: acas-color("maroon");
      color: acas-color("white");
      border: 1px solid acas-color("maroon");
    }
  }

  .btn-secondary {
    background: acas-color("white");
    border: 1px solid acas-color("maroon");
    color: acas-color("maroon");
    &:hover, &:focus {
      background: acas-color("maroon");
      color: acas-color("white");
    }
  }

  input[type="checkbox"], input[type="radio"] {
    &:hover+span:before,
    &:focus+span:before {
      box-shadow: 0 0 0 4px acas-color("maroon");
    }
  }

}
