#header-front-page {
  background: $gray-light;
  padding-top: 2em;
  padding-bottom: 4em;
  #block-exposedformsolr-search-contentpage-1 {
    .form-type-search-api-autocomplete {
      width: 100%;
      .input-group {
        width: 100%;
      }
      .input-group-addon {
        width: 40px;
      }
    }
    .form-type-search {
      display: none !important;
      margin-top: 20px;
      display: inline-block;
      width: 72%;
      @media #{$tablet} {
        width: 80%;
      }
      input {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        width: 100%;
      }
    }
    #edit-actions {
      display: inline-block;
    }
  }
  #block-views-block-google-analytics-summary-block-1 {
    overflow: auto;
  }
}

article.home-page {
  padding-top: 2em;
  padding-bottom: 2em;
  h2 {
    @extend h1;
  }
}
